In [2]:
import pypyodbc as odbc
import pandas as pd

connection_string = 'Driver={ODBC Driver 18 for SQL Server};Server=tcp:agiledsproject.database.windows.net,1433;Database=MovieRatings;Uid=ProjectDataBase;Pwd=Agile2023;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
conn = odbc.connect(connection_string)

In [3]:
cursor = conn.cursor()

In [5]:
create_table_sql = """
CREATE TABLE MyTable (
    ID INT PRIMARY KEY,
    Name NVARCHAR(50),
    Age INT
)
"""

cursor.execute(create_table_sql)
conn.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]There is already an object named 'MyTable2' in the database.")

In [4]:
insert_table_sql = """
INSERT INTO MYTABLE(ID,NAME,AGE)
VALUES
(89,49,45);
"""

cursor.execute(insert_table_sql)
conn.commit()

In [ ]:
cursor.close()
conn.close()